@charset "UTF-8";
.postagem {
    margin: auto 6.25vh;
}

.postImg {
    width: auto;
    max-height: 85vh;
    padding: 0 5vh 2vh 0;
    transform: translateY(1.5vh);
    border-top-left-radius: var(--bordaRedonda);
    float: left;
    margin-bottom: 10vh;
}
.titulo {
    font-size: 5vh;
    text-align: center;
}


.linksDownload {
    text-align: center;
}
.download:hover {
    text-decoration: underline;
}

#botaovoltar {
    height: 2.5vh;
    width: 5vh;
    fill: var(--roxo);
    background-color: var(--roxo);
    padding: 1vh;
    margin-top: 2vh;
    border-radius: var(--bordaRedonda);
    transition-duration: 0.3s;
}

#botaovoltar:hover {
    background-color: rgba(128, 0, 128, 0.663);
}

p {
    font-size: 2.5vh;
    line-height: 1.5;
    text-align: justify;
}

@media (max-width: 840px) {
    #title {
        font-size: 3vh;
        padding-bottom: 0;
    }
    p, li {
        font-size: 1.5vh;
    }
    .postImg{
        width: 25vh;
        padding-right: 1.9vh;
        margin-bottom: 50vh;
    }
    li {
        margin-left: 1.8vh;
    }
}

@media only screen and (max-width: 550px) {
    #title {
        font-size: 4vh;
    }
    .subtitulo {
        font-size: 2vh;
        text-indent: 0;
        padding: 2vh 0;
    }
    .postImg {
        width: 75vmin;
        border-radius: 2vh;
        margin-bottom: 0;
    }
    #botaovoltar {
        transform: translateX(-3vh);
    }
}