@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lexend+Mega&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

                                            /* corpo */
body {
    background-image: linear-gradient(#8a7c9c, #9f91ad, #8a7c9c);
    /* background-image: url(../imgs/wallpaper.webp); */
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}



                                    /* EM CONSTRUÇÃO */
#fhitagi {
    background-image: url('../imgs/hitagiwpp.png');
    background-repeat: no-repeat;
    margin-left: 0;
}

#imghitagi {
    position: fixed;
    bottom: 0;
    right: -55px;
    width: 325px;   
}



                                            /* Cabeçalho */

#title {
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    font-size: 42pt;
    text-transform: capitalize;
}

                /* Menu de Navegação superior direito */
#navbar {
    display: block;
    float: right;
    margin-top: -194px;
    /* position: absolute;
    top: 0; */
    padding: 2px;
}

#navbar ul li {
    /* organização relativa ao bloco (invisível) */
    display: inline-block;
    margin: 5px;
    padding: 7px;
    text-decoration: none;
    transition-duration: .3s;

    /* organização relativa ao bloco (visível)   */
    background-color: #ffffffa6;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    /* ajustes de fonte */
    font-family: 'Lexend Mega', sans-serif;
    font-weight: 600;
}

#navbar ul li:hover {
    background-color: white;
}

/* caixa branca em volta de todo o conteudo */
.whiteBox {
    background-color: #ffffffa6;
    width: 80%;
    margin: 5% 10% 0% 10%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
}

/* Postagens soltas */
article {
    padding: 15px;
    margin: 10px;
}

.equipe {
    border-radius: 50%;
    width: 150px;
}

/* Postagens */
main {
margin: auto 50px auto 50px;
}

.post {
max-height: 500px;
height: 260px;
margin: 0px auto 0px 40px;
overflow: hidden;
}

.title {
    /* organização relativa ao bloco (invisível) */
    display: block;
    float: left;
    margin-right: 0px;
    overflow: hidden;
    text-transform: capitalize;

    /* organização relativa ao bloco (visível)   */
    background-origin: border-box;
    padding: 30px 45px 30px 20px;
    width: 25%;
    height: 150px;
    background-color: purple;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    /* ajustes de fonte */
    font-family: 'Lexend Mega', sans-serif;
    font-weight: 900;
    color: white;
    font-size: 15pt;

}

.content {
    /* organização relativa ao bloco (invisível */
    display: inline-block;
    margin-left: 0px;

    /* organização relativa ao bloco (visível) */
    padding: 30px;
    background-color: white;
    width: 60%;
    height: 150px;
    vertical-align: middle;

    /* ajustes de fonte */
    line-height: 2;
    font-size: 13pt;
    text-align: justify;
}

.fundo{
    margin: -55px 0px 0px -20px;
    width: auto;
    height: 250px;
    transition-duration: .3s;
    opacity: .5;
}

.title:hover .fundo {
    color: #00000000;
    opacity: 1;
    height: 300px;
}

.title:hover .postwall {
    background-color: #8000808f;
    padding: 12px;
    border-radius: 20px;
}

.postwall {
    display: block;
    width: 20.9%;
    position: absolute;
    margin-top: -190px;
    transition-duration: 0.3s;
}

                                            /* Rodapé da página e associados */
footer {
    clear: both;
    margin-top: 70px;
    margin-bottom: 0px;
}

footer h1 {
    font-size: 14pt;
    font-weight: 700;
    text-align: center;
    border-top: 2px purple solid;
    padding: 15px;
}

/* tags isoladas */
h1 a, .center {
    color: white;
    padding: 0;
}

.center {
    display: block;
    width: 75%;
    transition-duration: 0.3s;
}

div.content p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

#botaovoltar {
    background-color: purple;
    color: white;
    padding: 5px;
    border-radius: 10px;
    transition-duration: 0.3s;
}

#botaovoltar:hover {
    background-color: #800080a9;
}

time {
    vertical-align: sub ;
    font-size: 11pt;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 40px;
}

h1, nav ul li a, h3 {
    padding: 25px;
    color: purple;
}

p {
    text-indent: 50px;

}

p, h3{
    font-family: 'Lexend Deca', sans-serif;
}

li {
    list-style-type: disc;
    margin: 10px;
    margin-left: 90px;
    font-size: 15pt;
}
img {
    display: inline-block;
    width: 400px;
    margin-right: 70px;
    object-fit: cover;
}

.leiamais {
    display: block;
    color: black;
    float: right
}