@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lexend+Mega&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

/* Raiz da Pagina, declaração de variáveis */
:root {
    --roxo: #800080;
    --bordaRedonda: 20px;
}

/* corpo da página */
body {
    --roxofundo: #85739c;
    background-image: linear-gradient(var(--roxofundo), #9f91ad, var(--roxofundo));
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

#imghitagi {
    position: fixed;
    bottom: 0;
    right: -55px;
    width: 325px;
}


/* MENU DE NAVEGAÇÃO SUPERIOR DIREITO */
#navbar>ul {
    position: absolute;
    top: 0;
    right: 9%;
}

#navbar>ul>li {
    /* organização relativa ao bloco (invisível) */
    display: inline-block;
    margin: 0 5px;
    padding: 7px;
    text-decoration: none;
    transition-duration: .3s;
    /* organização relativa ao bloco (visível)   */
    background-color: #ffffffa6;
    border-bottom-left-radius: var(--bordaRedonda);
    border-bottom-right-radius: var(--bordaRedonda);
    /* ajustes de fonte */
    font-family: 'Lexend Mega', sans-serif;
    font-weight: 600;
}

#navbar>ul>li:hover {
    background-color: white;
}


/* Cabeçalho */

#title {
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    font-size: 3em;
    text-transform: capitalize;
}


/* caixa branca em volta de todo o conteudo */

.whiteBox {
    background-color: #ffffffa6;
    width: 82%;
    margin: 5% 9% 0% 9%;
    border-top-left-radius: var(--bordaRedonda);
    border-top-right-radius: var(--bordaRedonda);
    position: absolute;
}

/* Postagens */

.pagina {
    margin: 3%
}

article {
    padding: 15px;
    margin: 10px;
}

.post {
    margin-left: 5%;
    margin-top: 25px;
}

.title {
    /* organização relativa ao bloco (invisível) */
    float: left;
    overflow: hidden;
    text-transform: capitalize;
    
    /* organização relativa ao bloco (visível)   */
    padding: 30px 45px 30px 20px;
    width: 25%;
    height: 150px;
    background-color: var(--roxo);
    border-top-left-radius: var(--bordaRedonda);
    border-bottom-left-radius: var(--bordaRedonda);

    /* ajustes de fonte */
    font-family: 'Lexend Mega', sans-serif;
    font-weight: 900;
    color: white;
    font-size: 1.3em;
}

h1 a, .titulo {
    color: white;
    padding: 0;
}

time {
    vertical-align: sub;
    font-size: .75em;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 40px;
}

.content {
    /* organização relativa ao bloco (invisível */
    display: inline-block;

    /* organização relativa ao bloco (visível) */
    padding: 30px;
    background-color: white;
    width: 60%;
    height: 150px;

    /* ajustes de fonte */
    line-height: 2;
    font-size: 1em;
    text-align: justify;
}

.content > p {
    line-height: 1.5;
}

p {
    text-indent: 50px;
}

p, h3 {
    font-family: 'Lexend Deca', sans-serif;
}

#botaovoltar {
    background-color: var(--roxo);
    color: white;
    padding: 5px;
    margin: 20px;
    border-radius: var(--bordaRedonda);
    transition-duration: 0.3s;
}

#botaovoltar:hover {
    background-color: #800080a9;
}

img {
    display: inline-block;
    width: 400px;
    margin-right: 70px;
    object-fit: cover;
}

.equipe {
    border-radius: 50%;
    width: 150px;
}

li {
    list-style-type: disc;
    margin: 10px;
    margin-left: 90px;
    font-size: 1.2em;
}

.fundo {
    margin: -55px 0px 0px -20px;
    width: 420px;
    height: auto;
    transition-duration: .3s;
    opacity: .5;
}

.title:hover .fundo {
    opacity: 1;
    width: 550px;
}

.postwall {
    width: 20.9%;
    position: absolute;
    margin-top: -190px;
    transition-duration: 0.3s;
}

.title:hover .postwall {
    background-color: #8000808f;
    padding: 10px;
    border-radius: var(--bordaRedonda);
}


/* Rodapé da página e associados */

footer {
    clear: both;
    margin-top: 70px;
    margin-bottom: 0px;
}

footer h1 {
    font-size: 1.35em;
    font-weight: 700;
    text-align: center;
    border-top: 2px var(--roxo) solid;
    padding: 15px;
}


/* tags isoladas */

a {
    text-decoration: none;
}

h1, nav > ul > li > a, h3 {
    padding: 25px;
    color: var(--roxo);
}