@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lexend+Mega&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
body {
    background-image: url("../imgs/wallpaper.webp");
    background-color: rgb(18, 0, 61);
    background-repeat: no-repeat;
    background-size: auto;
}
h1 {
    color: purple;
}
header h1 {
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    font-size: 60px;
}
header nav {
    display: block;
    float: right;
    margin-top: -216px;
}
header nav ul li {
    font-family: 'Lexend Mega', sans-serif;
    display: inline-block;
    background-color: rgba(255,255,255,.65);
    padding: 7px;
    margin: 3px;
    transition-duration: .3s;
    text-decoration: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
header nav ul li:hover {
    background-color: white;
}
a {
    text-decoration: none;
    color: purple
}
a:hover {
    text-decoration: underline;
}
div.whiteBox {
    background-color: rgba(255,255,255,.65);
    margin-top: 75px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
div.whiteBox ul {
    display: block;
    float: right;
}
section article h1 {
    margin-left: 70px;
    padding: 20px;
    font-size: 20pt;    
}
section article p {
    text-align: justify;
    margin-left: 70px;
    text-indent: 50px;
    width: 725px;
}
footer {
    margin-top: 70px;
    margin-bottom: 0px;
}
footer h1 {
    font-size: 10pt;
    text-align: center;
    border-top: 2px purple solid;
    padding: 15px;
}